<div class="border rounded-md w-10/12">
    <div class="flex">
        <div class="w-1/2">
        <img src={{producto.imagen}} alt="No disponible" class="xl:h-20 md:h-16 sm:h-20 h-15 xl:w-20 md:w-16 sm:w-20 w-15 mx-auto">
        </div>
        <div class="w-1/2">
            <div class="flex-col mx-auto">
                <h1 class="md:text-base xl:text-base text-xs hover:font-semibold">{{producto.nombre}}</h1>
                <h1 class="text-base">{{producto.precio}}</h1>
            </div>
        </div>
    </div>
</div>