<div class="w-full bg-black">
    <div class="w-11/12 mx-auto pt-4 xl:block lg:block md:block tb:block sm:hidden">
        <app-carousel [slides]="slidePrincipal"></app-carousel>
    </div>
    <div class="w-11/12 h-16 bg-naturalGreen mt-2 mx-auto xl:block lg:block md:block tb:block sm:hidden">
        <div class="w-1/4">

        </div>
        <div class="w-1/4">

        </div>
        <div class="w-1/4">

        </div>
        <div class="w-1/4">

        </div>
    </div>
    <!-- <div class="w-11/12 h-20 mx-auto pt-4 xl:block lg:block md:block tb:block sm:hidden">
        <app-carousel [slides]="slidePrincipal" class="h-20"></app-carousel>
    </div> -->
    <app-seccion icon="'m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25h-9A2.25 2.25 0 0 0 2.25 7.5v9a2.25 2.25 0 0 0 2.25 2.25Z'"></app-seccion>

</div>
  