    <!-- <div class="w-full bg-yellow-400">

        <div class="w-11/12 h-full flex mx-auto pt-5">
                <td class="mx-10 font-sans font-bold size-10 w-40">Id</td>
                <td class="mx-10 font-sans font-bold size-10 w-40">Nombre</td>
                <td class="mx-10 font-sans font-bold size-10 w-40">Correo</td>
                <td class="mx-10 font-sans font-bold size-10 w-40">Sueldo</td>
                <td class="mx-10 font-sans font-bold size-10 w-40">Fecha de Contrato</td>
        </div>
        
    <div *ngIf="Lista">
        <div class="w-full bg-yellow-400 flex" *ngFor="let item of Lista" >
            <div class="w-10/12 h-full flex mx-auto">
            <td class="mx-10 font-sans font-semibold size-10 w-40">{{item.idEmpleado}}</td>
            <td class="mx-10 font-sans font-semibold size-10 w-40">{{item.nombreCompleto}}</td>
            <td class="mx-10 font-sans font-semibold size-10 w-40">{{item.correo}}</td>
            <td class="mx-10 font-sans font-semibold size-10 w-40">{{item.sueldo}}</td>
            <td class="mx-10 font-sans font-semibold size-10 w-30">{{item.fechaContrato}}</td>
    
            </div>
            <div class="flex w-1/12">
                <button class="px-3 py-1 mb-2 bg-orange-500">E</button>
                <button class="px-3 py-1 mb-2 ml-5 bg-orange-500" (click)="Delete(item.idEmpleado)">D</button>
            </div>
        </div>
    </div>
    <div *ngIf="!Lista">
        <h1>No hay elementos</h1>
    </div>
    
</div> -->

<div class="container">
    
</div>