<form [formGroup]="Form" (ngSubmit)="OnSubmit()">

    <label for="nombreCompleto">Nombre Completo</label>
    <Input type="text" id="nombreCompleto" formControlName="nombreCompleto">

    <label for="correo">Correo</label>
    <Input type="text" id="correo" formControlName="correo"/>

    <label for="sueldo">Sueldo</label>
    <Input type="number" id="sueldo" formControlName="sueldo"/>

    <label for="fechaContrato">Fecha de Contrato</label>
    <Input type="date" id="fechaContrato" formControlName="fechaContrato"/>


    <button type="sub">Submit</button>
</form>
